<html ng-app="TODO">

<head>
    <meta charset="utf-8">
    <title>Music</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link href="css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    
    <script src="js/ionic.bundle.min.js"></script>
    <script src="js/app.js"></script>

    <!-- Needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script src="cordova.js"></script>
</head>

<body>
    <ion-side-menus>
        <ion-side-menu-content ng-controller="TaskController">
            <ion-header-bar class="bar-positive">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                <h1 class="title">My Tasks</h1>
            </ion-header-bar>
            <ion-content>
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" 
                               placeholder="New task" 
                               ng-model="newTask.description" 
                               ng-keydown="addTask($event)">
                    </label>
                </div>
                <ion-list>
                    <ion-item ng-repeat="task in tasks">
                        <span class="task-title">
                            {{ task.title }}
                        </span>
                        <div class="task-description">
                            {{ task.description }}
                        </div>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu-content>
        <ion-side-menu side="left">
            <ion-list>
                <ion-item>My Tasks</ion-item>
                <ion-item>Completed Tasks</ion-item>
                <ion-item>Setting</ion-item>
            </ion-list>
        </ion-side-menu>
    </ion-side-menus>
</body>

</html>