
.navmenu-fixed-left {
    margin-top: 51px;
}

.carousel img {
    margin: 0 auto;
    height: 200px !important;
}

.navbar-toggle {
    margin-left: 10px;
    margin-right: 0px;
}



.navbar-brand {
    margin-left: -10px;
}
